@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    font-family: 'Hind', sans-serif;
font-family: 'Inter', sans-serif;
}
.rotate_01{

    
    -webkit-transition: -webkit-transform 1s;
  }

  .djj:hover .rotate_01{
    /* background:green
    ; */
    -webkit-transform: rotateY(360deg) translateZ(0);
  }
  .box{
    background-color: #85fc8f;
    width: 80%;
    height: 40px;
    margin-top: -40px;
   
    animation-name: boxtitle;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  @keyframes boxtitle {
    from{
width: 20%;
    }
    to{
width: 80%;
    }
  }

svg .drow{
    stroke: #85fc8f;
    stroke-width: 2px;
    fill: transparent;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: animate 5s forwards ;
}
@keyframes animate {
    to{
        stroke-dashoffset: 1;
    }
}

.herotitle{
  background-color: #85fc8f;

 
 
  animation-name: herotitle;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes herotitle {
  from{
width: 30%;
color: black;
  }
  to{
width: 50%;
  }
}




